<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-item lines="full">
      <ion-label position="floating">Nombre de la madre</ion-label>
      <ion-input formControlName="nombreMadre" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Nombre del padre</ion-label>
      <ion-input formControlName="nombrePadre" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Sección</ion-label>
      <ion-input formControlName="seccion" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Grado</ion-label>
      <ion-input formControlName="grado" type="text" required></ion-input>
    </ion-item>
    <!-- Datetime in popover with input -->
    <ion-item>
      <ion-input type="date"  formControlName="fechaNacimiento"></ion-input>
    </ion-item>
  </form>
  <ion-button expand="full" (click)="enviar()" type="submit" [disabled]="!formGroup.valid" color="success">Agregar</ion-button>

</ion-content>
