<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar estudiantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="full">
      <ion-label position="floating">Nombre de la madre</ion-label>
      <ion-input [(ngModel)]="alumno.nombreMadre" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Nombre del padre</ion-label>
      <ion-input [(ngModel)]="alumno.nombrePadre" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Sección</ion-label>
      <ion-input [(ngModel)]="alumno.seccion" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Grado</ion-label>
      <ion-input [(ngModel)]="alumno.grado" type="text" required></ion-input>
    </ion-item>
    <!-- Datetime in popover with input -->
    <ion-item>
      <ion-input type="date" [(ngModel)]="alumno.fechaNacimiento"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="enviar()" color="success">Editar</ion-button>

</ion-content>
